<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811883013492-30oqpqntfuajrt5df7q1363faueb01ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811883013492-30oqpqntfuajrt5df7q1363faueb01ug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811883013492-t7ah8h64danveg6hd2ekgkfdogcemfoj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB62vqgvGBjIWlM8o6c60hDZxtD42H54kI</string>
	<key>GCM_SENDER_ID</key>
	<string>811883013492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiStore</string>
	<key>PROJECT_ID</key>
	<string>multi-store-12a51</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-store-12a51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811883013492:ios:03d76136420e5782b87821</string>
</dict>
</plist>